[submodule "src/v4d/core"]
	path = src/v4d/core
	url = git@github.com:Vulkan4D/v4d_core.git
[submodule "tools"]
	path = tools
	url = git@github.com:Vulkan4D/v4d_tools.git
[submodule "src/v4d/modules/sample"]
	path = src/v4d/modules/sample
	url = git@github.com:Vulkan4D/v4d_module_sample.git
[submodule "src/openssl"]
	path = src/openssl
	url = git@github.com:openssl/openssl.git
	branch = OpenSSL_1_1_0-stable
[submodule "src/Vulkan-Hpp"]
	path = src/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
[submodule "src/v4d/xvk"]
	path = src/v4d/xvk
	url = git@github.com:Vulkan4D/xvk.git
[submodule "src/imgui"]
	path = src/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "src/ImGuiColorTextEdit"]
	path = src/ImGuiColorTextEdit
	url = git@github.com:BalazsJako/ImGuiColorTextEdit.git
[submodule "src/bullet3"]
	path = src/v4d/modules/V4D_bullet/bullet3
	url = git@github.com:bulletphysics/bullet3.git
[submodule "src/stb"]
	path = src/stb
	url = git@github.com:nothings/stb.git
